fastapi
uvicorn[standard]
pandas
numpy
scikit-learn==1.6.1
xgboost
joblib
psycopg[binary]
psycopg-pool
PyJWT
bcrypt
requests
huggingface_hub
langchain-core
google-genai
redis
resend
slowapi
python-multipart
celery[redis]
boto3
